[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
konlpy = "*"
flask = "*"
opencv-python = "*"
pafy = "*"
youtube-transcript-api = "*"
pandas = "*"
youtube-dl = "*"
matplotlib = "*"
torch = "*"
torchvision = "*"
torchsummary = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.7"
